@brand-color: #6c4b88;

#header { background-color: @brand-color; }
#footer { color: @brand-color; }
h3 { color: @brand-color; }

.header
	{
		height:500px;
		background: @brand-color;
		margin-top:0px;
	
	}