@charset "utf-8";
/* CSS Document */

html	
{
	margin:0px;
}

body	
{
	background:url(../img/background.jpg);
	background-repeat:repeat;
}

.feature 
{
	margin: 40px;
	position: relative;
	
}
.chart 
{
	
	padding-top:40px;
}

.chart i
{
	
	
	font-size:100px;
}

.chart1 i.icon-flag
{
	color:#31c573;
}

.chart2 i.icon-legal
{
	color:#000000;
}

.chart3 i.icon-fire
{
	color:#f16528;
}

.chart i.icon-pencil
{
	color:#357193;
}

.skill1,.skill2,.skill3,.skill4,.skill5,.skill6
{
	margin:20px;
	position: relative;
	margin-top:55px;
}

.page-title
{
	color:#6c257b;
}

.subtitle small
{
	color:#3ca0cf;
}


.the-icons 
{
	list-style:none;
}

.footer
{
	background-color:#587193;
	margin:0px;
	padding-top:25px;
	padding-bottom:25px;
	border-top:2px solid #fff;
}

.footer span a
{
	text-align:center;
	text-decoration:none;
	color:#FFF;
	
}

.footer span a:hover
{
	color:#2daae4;
	
}


.circle 
{
	text-align:center;
	
}	

.circle img{
	background: #1189D9;
	text-align: center;
	border-radius: 100%;
	width: 126px;
	height: 126px;
	margin: 2px 0 0 0;
	font-size:100px;
	color:#FFF;
	
}

.circle1 img
{
	border:8px solid #357193;
}

.circle2 img
{
	border:8px solid #31c573;
}

.circle3 img
{
	border:8px solid #000000;
}

.circle4 img
{
	border:8px solid #f16528;
}

.avatar1
{
	border-radius:10px;
	border:8px solid #357193;
}

.avatar2
{
	border-radius:10px;
	border:8px solid #31c573;
}

.avatar3
{
	border-radius:10px;
	border:8px solid #000000;
}

.avatar4
{
	border-radius:10px;
	border:8px solid #f16528;
}

#portfolio-list li a
{
	text-decoration:none;
	color:#000;
}
#myTab li.active
{
	color:red;
}

#myTab li a 
{
	text-decoration:none;
}
.portfolio-item-image
{
	border:8px solid #FFF;
}

.thumbnail-box
{
	width:250px;
}

.thumbnail-box:hover,
.thumbnail-box:focus {
	border-color: #0088cc;
	-webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	-moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}


.avatar
{
	border:2px solid #FFF;
	border-radius:100%;
	width:50px;
	height:50px;
	
}

.social-icons p a
{
	padding-left:25px;
}

.social-icons p a:hover
{
	text-decoration:none;
}

.social-icons p a i.icon-twitter-sign
{
	color:#5dd7fc;
}

.social-icons p a i.icon-facebook-sign
{
	color:#405d9f;
}

.social-icons p a i.icon-google-plus-sign
{
	color:#bd3527;
}

.social-icons p a i.icon-linkedin-sign
{
	color:#95cde4;
}

.social-icons p a i.icon-linkedin-sign:hover, .social-icons p a i.icon-google-plus-sign:hover, .social-icons p a i.icon-facebook-sign:hover, .social-icons p a i.icon-twitter-sign:hover
{
	color:#000;
}

@media (max-width: 270px)
{
	.thumbnail-box
	{
		width:150px;
	}
}

/* Navbar
-------------------------------------------------- */
.navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-inner{
	border-radius:0px;
	background: #587193 !important; 
	background-image: none;
	background-repeat: no-repeat;
	filter: none !important;
	border-top:1px solid #587193 !important;
	border-bottom:1px solid #587193 !important;
	border-left:0px !important;
	border-right:0px !important;
	margin-left:0px;
	
}

.navbar .brand {
    font-size: 46px;
	text-shadow: none;
	margin-left:15px;
	color:#FFFFFF;
}
.navbar .nav.pull-right {
	top: 10px;
	/*margin-right: 40px;*/
}
.navbar .nav > li > a {
	color: #F8F8F8;
	font-size: 15px;
	text-shadow: none;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;	
}
.navbar .nav > li > a:hover {
	color: #ccc;		
}
.navbar .nav > li.active > a,
.navbar .nav > li.active:hover > a,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
	background: #475b77;
	color: #fff;
}
.btn-dropnav {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 10px;
	display: none;
}
.btn-dropnav .icon-bar {
    background-color: #F5F5F5;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);	
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
}
.btn-dropnav .icon-bar + .icon-bar {
    margin-top: 3px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background: none;
	color: #fff;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	background-color: #475B77 !important;
	text-decoration: none;
	color: #ffffff;
	background-image: -moz-linear-gradient(top, #475B77, #475B77);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#475B77), to(#475B77));
	background-image: -webkit-linear-gradient(top, #475B77, #475B77);
	background-image: -o-linear-gradient(top, #475B77, #475B77);
	background-image: linear-gradient(to bottom, #475B77, #475B77);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#475B77', endColorstr='#475B77', GradientType=0);
}

.navbar .btn-navbar .icon-bar {
	display: block;
	width: 18px;
	height: 2px;
	background-color: #FFF;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
	background-color: #475B77 !important;
	text-decoration: none;
	color: #ffffff;
	background-image: -moz-linear-gradient(top, #475B77, #475B77);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#475B77), to(#475B77));
	background-image: -webkit-linear-gradient(top, #475B77, #475B77);
	background-image: -o-linear-gradient(top, #475B77, #475B77);
	background-image: linear-gradient(to bottom, #475B77, #475B77);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#475B77', endColorstr='#475B77', GradientType=0);
}
.navbar-inverse .nav-collapse .nav > li > a
{
    color: #FFF;
}
.navbar-inverse .nav-collapse .dropdown-menu a , 
{
	color:#475B77;
}
.navbar-inverse .nav-collapse .dropdown-menu a:hover,
{
	color:#FFF;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #FFF;
  border-bottom-color: #FFF;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #475B77;
	color: #ffffff;
}

@media (max-width: 979px) {
	.nav-collapse .nav > li > a:hover,
	.nav-collapse .dropdown-menu a:hover {
    	background: 475B77 !important;
	}
	
}

